@font-face {
  font-family: "iconfont"; /* Project id 4489611 */
  src: url('iconfont.woff2?t=1711874282241') format('woff2'),
       url('iconfont.woff?t=1711874282241') format('woff'),
       url('iconfont.ttf?t=1711874282241') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontqq:before {
  content: "\e6e7";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-bilibili:before {
  content: "\e62a";
}

.icon-steam-line:before {
  content: "\eae0";
}

